div.app{
  display: flex;
  width: 100vw;
}

header.main-header{
  width: 100vw;
  padding: 10px 25px;
  box-shadow: 1px 5px 15px grey;
  justify-content: space-between;
  box-sizing: border-box;
}

img.img-logo{
  width: 95vw;
}
